*{
  margin: 0;
}

body{
  width: 80%;
  margin: 0 10%;
  background-color: #CCC;
  color: #111;
}

a{
  color: inherit;
  text-decoration: none;
}


/*************************************************/
/*              HEADER STYLES                    */
/*************************************************/
header{
  background-color: #333;
  color: #DDD;
  margin-bottom: 10px;
}

.row{
  width: 100%;
  display: flex;

}

.logo{
  width: 30%;
}

.logo img{
  width: 50%;
  padding: 0 25%;
}

.searchBar{
  width: 40%;
  height: 20%;
  top: 40%;
}

/*.searchBar form input{
  width: 20%;
  margin: 0 30%;
}

.searchBar form input.focus{
  width: 100%;
  margin: 0 30%;
}*/

.userMenu{
  width: 30%;
}

.category{
  width: 10%;
  margin: 1%;
  padding: 1.5%;
  text-align: center;
  background-color: blue;
}









#books{
  background-color: #999;
  padding: 2% 0;
}

article{
  width: 80%;
  margin: 2.5% 5%;
  padding: 5%;
  border: 1px solid green;
}

.price{
  float: right;
}


/*************************************************/
/*              FOOTER STYLES                    */
/*************************************************/

footer {
    padding: 1%;
    text-align: center;
    background-color: #333;
    color: #DDD;
    margin-top: 10px;
}

/*.social {
    margin-bottom: 5px;
}

.socialIcons {
    width: 1.5%;
    margin: 0 3% 0 3%;
    border-bottom: 2px solid #333;
}

.socialIcons:hover {
    border-bottom: 2px solid white;
}*/
