body{
  width: 100%;
  background-color: #CCC;
  color: #111;
}

a{
  color: inherit;
  text-decoration: none;
}


/*************************************************/
/*              HEADER STYLES                    */
/*************************************************/
header{
  margin: 0 20%;
  background-color: #999
}

.row{
  width: 100%;
  display: flex;
}

.logo{
  width: 30%;
}

.logo img{
  width: 80%;
}

.searchBar{
  width: 40%;
}

.userMenu{
  width: 30%;
}

.category{
  width: 10%;
  margin: 1% 1%;
  padding: 1.5% 1.5%;
  text-align: center;
  background-color: blue;
}









#books{
  background-color: green;
  margin: 0 20%;
}
